// 
@charset 'utf-8';
// 
// 
// 
$primary-color: #9759D1; // #5755d9;
// 
$base-font-family: ('IBM Plex Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
$mono-font-family: ('IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace);
$fallback-font-family: (-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif);
// 
// 
// 
@import '~spectre.css/src/spectre';
@import '~spectre.css/src/spectre-exp';
// 
// 
//
