/**/

.text-inherit {
	color: inherit !important;
}

img.is-png {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

nav.navbar div.field.navbar-item {
	margin-bottom: 0px;
}


/**/

span.icon.is-bold > i.mdi::before {
	font-weight: bold;
}

span.icon.is-xlarge {
	width: 4rem;
	height: 4rem;
}

span.icon.is-xlarge,
span.icon.is-xlarge > i.mdi,
span.icon.is-xlarge > i.mdi::before {
	font-size: 4rem;
}

span.icon.is-xxlarge {
	width: 5rem;
	height: 5rem;
}

span.icon.is-xxlarge,
span.icon.is-xxlarge > i.mdi,
span.icon.is-xxlarge > i.mdi::before {
	font-size: 5rem;
}


/**/
