/**/


/*section.router-view {
	background-color: var(--white-bis);
}*/

*[style*="display: none"] {
	display: none !important;
}

.is-clickable {
	pointer-events: auto;
	cursor: pointer;
}

.button .icon:first-child:not(:last-child) {
	margin-left: -0.25rem;
	margin-right: 0.25rem;
}

figure.image > img {
	max-width: 100%;
	max-height: 100%;
}

img.is-png {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

span.tooltip:after {
	font-size: 1rem;
	font-weight: 500;
}

div.box.is-narrow {
	padding: 0.75rem;
}


/**/

.bg-bullish {
	background-color: #E3FCEC;
}

.bg-bearish {
	background-color: #FCEBEA;
}


/**/

.border-debug {
	border: 1px solid red !important;
}


/**/

div.is-scroll > div.table-wrapper {
	overflow-x: auto;
}


/*table.table th {
	vertical-align: bottom;
}*/

/*table.table tr > th:last-child > span.icon {
	margin-top: 4px;
	margin-bottom: 4px;
}*/

table.table.is-paddingless th,
.b-table.is-paddingless table.table th,
table.table.is-paddingless td,
.b-table.is-paddingless table.table td {
	padding: 0px;
}

table.table.is-middle th,
.b-table.is-middle table.table th,
table.table.is-middle td,
.b-table.is-middle table.table td {
	vertical-align: middle;
}

table.table.is-nowrap td,
.b-table.is-nowrap table.table td {
	white-space: nowrap;
}

table.table.nowrap-first tr > th:first-child,
.b-table.nowrap-first table.table tr > th:first-child,
table.table.nowrap-first tr > td:first-child,
.b-table.nowrap-first table.table tr > td:first-child {
	white-space: nowrap;
}

table.table.is-borderless td,
.b-table.is-borderless table.table td {
	border-width: 0px;
}

table.table.is-narrow td,
.b-table.is-narrow table.table td {
	padding: 0.25rem 0.5rem;
}

table.table.is-narrower td,
.b-table.is-narrower table.table td {
	padding: 0.125rem 0.5rem;
}

table.table.is-narrowest td,
.b-table.is-narrowest table.table td {
	padding: 0rem 0.25rem;
}


/*table.table th.font-mono,
table.table td.font-mono {
	white-space: nowrap;
}*/


/**/

p.title,
p.subtitle,
p.title:not(:last-child),
p.subtitle:not(:last-child),
p.title:not(.is-spaced) + .subtitle {
	margin-top: 0px;
	margin-bottom: 0px;
}

p.content,
.content p {
	line-height: 1.5;
}


/**/

span.tag.is-small {
	height: 1.125rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}


/**/

span.icon.is-bold > i.mdi::before {
	font-weight: bold;
}

span.icon.is-xlarge {
	width: 4rem;
	height: 4rem;
}

span.icon.is-xlarge,
span.icon.is-xlarge > i.mdi,
span.icon.is-xlarge > i.mdi::before {
	font-size: 4rem;
}

span.icon.is-xxlarge {
	width: 5rem;
	height: 5rem;
}

span.icon.is-xxlarge,
span.icon.is-xxlarge > i.mdi,
span.icon.is-xxlarge > i.mdi::before {
	font-size: 5rem;
}


/**/

.animated-loading {
	animation-duration: 3s !important;
}


/**/
