// 
@charset 'utf-8';
// 
// 
// 
@import '~bulma/sass/utilities/initial-variables';
// 
// $black: #22292F;
// $black-bis: #3D4852;
// $black-ter: #606F7B;
// $grey-darker: #606F7B;
// $grey-dark: #8795A1;
// $grey: #B8C2CC;
// $grey-light: #DAE1E7;
// $grey-lighter: #F1F5F8;
// $white-ter: #F1F5F8;
// $white-bis: #F8FAFC;
// $white: #FFFFFF;
// 
// $light: $white-ter;
// $dark: $black;
// 
$white: #fff;
$orange: #F6993F;
$yellow: #FFED4A;
$green: #38C172;
$turquoise: #4DC0B5;
$cyan: #6574CD;
$blue: #3490DC;
$purple: #9561E2;
$red: #E3342F;
$pink: #F66D9B;
// 
$primary: $purple;
$secondary: $cyan;
$accent: $pink;
$info: $blue;
$success: $green;
$warning: $orange;
$danger: $red;
$link: $primary;
// 
$warning-invert: $white;
$link-invert: $white;
// 
$family-sans-serif: ('IBM Plex Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
$family-monospace: ('IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace);
// 
@import '~bulma/sass/utilities/all';
@import '~buefy/src/scss/utils/all';
// 
$colors: map-merge($colors, ('secondary':($secondary, $white)));
$colors: map-merge($colors, ('accent':($accent, $white)));
// 
// $tablet: 576px;
// $desktop: 768px;
// $widescreen: 992px;
// $fullhd: 1200px;
// 
$link-visited: $pink;
$link-focus-border: $link;
$navbar-item-active-color: $link;
// 
$body-background-color: $white-bis;
$modal-content-width: 480px;
$modal-background-background-color: rgba($black, 0.66);
// $button-disabled-opacity: 0.33;
// 
@import '~bulma';
@import '~buefy/src/scss/buefy';
// 
@import './styles'
// 
// 
//
