// 
// 
// 
// ████  VARIABLES  ████
// 
// $tablet: 576px;
// $desktop: 768px;
// $widescreen: 992px;
// $fullhd: 1200px;
// 
$body-background-color: $light;
// 
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
// 
$navbar-item-active-color: $primary;
// 
$modal-content-width: 480px;
$modal-background-background-color: rgba($black, 0.66);
$button-disabled-opacity: 0.33;
// 
// ████  FONT FAMILY  ████
// 
// https://github.com/IBM/plex
$family-sans-serif: ('IBM Plex Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
$family-monospace: ('IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace);
// 
// 
//
